<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <package android:name="com.eternal.taho" />
    </queries>

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:label="Taho Browser"
        android:theme="@style/Theme.TahoBrowser">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.downloads"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/download_file_paths" />
        </provider>
        <activity
            android:name=".TahoPwaActivity"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.TahoBrowser" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".WebNotificationActionReceiver"
            android:exported="false" />
    </application>
</manifest>
